/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23.10.2018, 17:17:48
    Author     : PatrickGießler
*/
main{
    padding-left: 2em;
}

#adminHeader{
  text-align: left;
  margin-left: 0.3em;
  font-weight: 500;
  margin-bottom: 0.1em;
}

.makeItWhite{
    background: white;
}
.makeInVisible{
    display: none !important;
}
.makeVisible{
    display: block !important;
}
.makeRedBorder {
    border: red 1px solid !important;
}

#goToDay{
    width: 100%;
    margin-bottom: 1em;
}

#mobile-line{
    display: none;
}

@media (max-width:768px){
  button{
    width: 100%;
  }

  h1{
    text-align: center !important;
    margin-left: 0em !important;
  }
  .row{
    margin-left: -1.5em !important;
    margin-right: 0em !important;
  }

  .cuberow{
    width: 100% !important;
  }

  #mobile-line{
    display:flex;
  }


  #dayHeader {
    padding-top: 0.5em !important;
  }

  #countText, #buttonForNext{
    width: 100% !important;
  }

  .carousel-control-next, .carousel-control-prev {
    width: 15% !important;
  }

  .carousel-control-prev {
    left: -1.3em !important;
  }
  .carousel-control-prev-icon::after, .carousel-control-next-icon::after {
    font-size: 2.5em !important;
  }
}

.cuberow{
  height: 20em;
  width: 25em;
  margin-left: auto !important;
  margin-right: auto !important;
  border: black;
  border-style: solid;
}

.carousel{
  width: 100%
}

.dayCol{
  padding-left: 25% !important;
  padding-right: 25% !important;
}

.cube-wrapper{
  margin-left: auto !important;
  margin-right: auto !important;
}

#dayHeader{
  padding-top: 2em;
}

.dayInput{
  width: 50%;
}

#partSolution{
  margin-bottom: 6em;
}

@media (min-width:769px){
  .carousel-control-next, .carousel-control-prev {
    width: 25% !important;
  }

  .carousel-control-next{
    right: 1.4em !important;
  }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 0
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 6em;
  color: black;
}

.carousel-control-prev-icon:after
{
  content: '<';
  font-size: 6em;
  color: black;
}


.carousel-indicators li {
    display: inline-block;
    width: 1.5em !important;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 1.5em;
    height: 1.5em;
    margin:0em;
    background-color: #ffff99;
}
.brighterCount{
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.makeItBlack{
     color: black !important;
}

#buttonForNext{
    width:20em;
}

.forSel{

}

table{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: contain;
}
td{
    border: 1px red solid;
}
