/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16.10.2018, 16:26:18
    Author     : PatrickGießler
*/
@keyframes snow{
    0%{
        background-position:0 0
    }
    100%{
        background-position:500px 1000px,400px 400px,300px 300px
    }
}
@-moz-keyframes snow{
    0%{
        background-position:0 0
    }
    100%{
        background-position:500px 1000px,400px 400px,300px 300px
    }
}
@-webkit-keyframes snow{
    0%{
        background-position:0 0
    }
    100%{
        background-position:500px 1000px,400px 400px,300px 300px
    }
}
@-ms-keyframes snow{
    0%{
        background-position:0 0
    }
    100%{
        background-position:500px 1000px,400px 400px,300px 300px
    }
}
body{
    background-image: url('../pictures/snow1.png'), url('../pictures/snow2.png'), url('../pictures/snow3.png');
    -webkit-animation:snow 20s linear infinite;
    -moz-animation:snow 20s linear infinite;
    -ms-animation:snow 20s linear infinite;
    animation:snow 20s linear infinite;
}

img{
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;


}
table{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: contain;
}
td{
    border: lightblue solid 2px;


}
tr{

}

h1 {
    margin-top: 1em !important;
}
