@keyframes snow{
    0%{
        background-position:0 0
    }
    100%{
        background-position:500px 1000px,400px 400px,300px 300px
    }
}
@-moz-keyframes snow{
    0%{
        background-position:0 0
    }
    100%{
        background-position:500px 1000px,400px 400px,300px 300px
    }
}
@-webkit-keyframes snow{
    0%{
        background-position:0 0
    }
    100%{
        background-position:500px 1000px,400px 400px,300px 300px
    }
}
@-ms-keyframes snow{
    0%{
        background-position:0 0
    }
    100%{
        background-position:500px 1000px,400px 400px,300px 300px
    }
}
body{
    background-color:#eee;
    background-image: url('../pictures/snow1.png'), url('../pictures/snow2.png'), url('../pictures/snow3.png');
    -webkit-animation:snow 20s linear infinite;
    -moz-animation:snow 20s linear infinite;
    -ms-animation:snow 20s linear infinite;
    animation:snow 20s linear infinite
}
h1{
    margin:60px 0 40px 0;
    text-align:center;
    font-size:5rem
}
.open-message h2{
    margin:10px
}
@media (min-width:500px){
    h1{
        font-size:7rem
    }
    .open-message p{
        font-size:1.2em
    }
}
h1 small{
    display:block;
    font-size:.5em
}

button {
    margin: 0;
    padding: .65em 1em 1em;
    background-color: #4eb8dd;
    border: none;
    border-radius: 4px !important;
    box-sizing:
    border-box;
    box-shadow: none;
    width: 80%;
    height: 65px;
    font-size: 1.4em !important;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
    transition: background-color .2s ease-out;
    cursor: pointer;
  }

#switchsolutionButton, #switchcalendarButton{
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.coupon{
    font-size:20px;
    border-radius:2px;
    height:60px;
    width:150px;
    display:inline-block;
    text-align:center;
    position:relative;
    backface-visibility:hidden;
    transform:rotateY(180deg);
    transform-style:preserve-3d
}
.coupon .coupon-back,.coupon .coupon-front{
    position:absolute;
    width:100%;
    line-height:22px;
    padding:6px 0;
    display:block;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    background:#fff;
    border:2px dashed #AEAEAE;
    box-sizing:border-box
}
.coupon .coupon-back{
    line-height:44px;
    font-size:30px;
    transform: rotateY(0);
    backface-visibility:hidden
}
